{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>NewsTheme - Contact</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="ie.css" /><![endif]-->
</head>
<body>
<!-- BEGIN navigation -->
<div id="navigation">
  <div class="wrapper">
    <ul>
      <li><a href="/hear1/index">Home</a></li>
      <li><a href="/hear1/about">About Us</a></li>
      <li><a href="/hear1/contact">Contact Page</a></li>
    </ul>
    <form action="#">
      <button type="submit">Search</button>
      <input type="text" name="s" id="s" />
    </form>
  </div>
</div>
<!-- END navigation -->
<!-- BEGIN wrapper -->
<div class="wrapper">
  <!-- BEGIN header -->
  <div id="header">
    <h1><a href="#">NewsTheme</a></h1>
    <div class="ad468x60"><a href="#"><img src="{% static "images/2.png" %}" alt="" /></a></div>
  </div>
  <!-- END header -->
  <!-- BEGIN body -->
  <div id="body">
    <!-- BEGIN content -->
    <div id="content">
      <!-- begin post -->
      <div class="recent post">
        <h2>Contact Us</h2>
        <p>Idnec nulla fuscinia ridictus nunc et morbi at morbi senean tincidunt. Antsempus morbi quis in sempus convallis dui vestie eu phasellentesquet nam. Pulvinareipsum sit nibh id nas eu magnisse alique id nam curabitur. Etenim consequam nec ant senean leo morbi urna velit rutrum consectum. Sedpretium nulla vel ero liberos facilis dis cursus adipiscing lacus intesque.</p>
        <div id="comments">
          <div id="respond">
            <form action="#" method="post" id="commentform">
              <p>
                <input type="text" name="author" id="author" value="" size="22" tabindex="1" />
                <label for="author"><small>Name (required)</small></label>
              </p>
              <p>
                <input type="text" name="email" id="email" value="" size="22" tabindex="2" />
                <label for="email"><small>Mail (will not be published) (required)</small></label>
              </p>
              <p>
                <input type="text" name="url" id="url" value="" size="22" tabindex="3" />
                <label for="url"><small>Website</small></label>
              </p>
              <p>
                <textarea name="comment" id="comment" cols="100%" rows="10" tabindex="4"></textarea>
              </p>
              <p>
                <button name="submit" type="submit" id="submit">Submit Comment</button>
              </p>
            </form>
          </div>
        </div>
      </div>
      <!-- end post -->
    </div>
    <!-- END content -->
    <!-- BEGIN sidebar -->
    <div id="sidebar">
      <!-- begin Advertisement -->
      <div class="ads"> <a href="#"><img src="{% static "images/1.png" %}" alt="" /></a> <a href="#"><img src="{% static "images/1.png" %}" alt="" /></a> <a href="#"><img src="{% static "images/1.png" %}" alt="" /></a> <a href="#"><img src="{% static "images/1.png" %}" alt="" /></a> </div>
      <!-- end Advertisement -->
      <!-- begin subscribe -->
      <h2>Subscribe Here</h2>
      <form class="subscribe" action="#">
        <a href="#">Subscribe via RSS Feed or</a>
        <input type="text" name="email" value="Enter E-mail Here.." />
        <button type="submit">Submit</button>
      </form>
      <!-- end subscribe -->
      <!-- begin popular posts -->
      <h2>Popular Posts</h2>
      <ul>
        <li><a href="#">Make Money Online Creating Websites</a></li>
        <li><a href="#">Top 100 Internet Marketing Tips</a></li>
        <li><a href="#">Tutorial: How to add Videos in your Post</a></li>
        <li><a href="#">Sample Post Unordered List</a></li>
        <li><a href="#">Sample Post Blockquote</a></li>
      </ul>
      <!-- end popular posts -->
      <!-- begin tags -->
      <h2>Tags</h2>
      <div class="tags"> </div>
      <!-- end tags -->
      <!-- BEGIN left -->
      <div class="l">
        <!-- begin categories -->
        <h2>Categories</h2>
        <ul>
          <li><a href="#">Entertainment</a></li>
          <li><a href="#">Fashion</a></li>
          <li><a href="#">Lifestyle</a></li>
          <li><a href="#">Parenting</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
        <!-- end categories -->
        <!-- begin pages -->
        <h2>Pages</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Archives</a></li>
          <li><a href="#">Links</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
        <!-- end pages -->
      </div>
      <!-- END left -->
      <!-- BEGIN right -->
      <div class="r">
        <!-- begin archives -->
        <h2>Archives</h2>
        <ul>
          <li><a href="#">August 2008</a></li>
          <li><a href="#">July 2008</a></li>
          <li><a href="#">June 2008</a></li>
          <li><a href="#">May 2008</a></li>
          <li><a href="#">April 2008</a></li>
          <li><a href="#">March 2008</a></li>
        </ul>
        <!-- end archives -->
        <!-- begin blogroll -->
        <h2>Blogroll</h2>
        <ul>
          <li><a href="#">Carlos</a></li>
          <li><a href="#">Digital Point Forum</a></li>
          <li><a href="#">Eric's Photo Gallery</a></li>
          <li><a href="#">Fashion Trends</a></li>
          <li><a href="#">Google Scoreboard</a></li>
          <li><a href="#">Marketing Forum</a></li>
        </ul>
        <!-- end blogroll -->
        <!-- begin meta -->
        <h2>Meta</h2>
        <ul>
          <li><a href="#">Login</a></li>
        </ul>
        <!-- end meta -->
      </div>
      <!-- END right -->
    </div>
    <!-- END sidebar -->
  </div>
  <!-- END body -->
  <div class="break"></div>
</div>
<!-- END wrapper -->
<!-- BEGIN footer -->
<div id="footer">
  <div class="wrapper">
    <p class="l">Copyright &copy; 2009 - <a href="#">Website Name</a> &middot; All Rights Reserved</p>
    <p class="r">Template by: <a href="http://www.wpthemedesigner.com/">WordPress Designer</a> | Get More <a href="#">Free CSS Templates</a></p>
  </div>
</div>
<!-- END footer -->
</body>
</html>
